.list-item {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px ;
}
.total-item {
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
    font-weight: 600;
    color: darkviolet;
    font-size: 18px;
}
.body {
    background-color: #e5edf4;
}